@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>
<h3>Wellcome to Pioneers</h3>

<address>
    BLK N7 FLAT 3 ALAPAFUJA ESTATE, AKERELE ROAD<br />
    SURULERE, LAGOS STATE. NIGERIA<br />
    <abbr title="Phone">P:</abbr>
    +234 07033677921
</address>

<address>
    <strong>Support:</strong> <a href="mailto:wafik16@gmail.com">wafik16@gmail.com</a><br />
    
</address>
