@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Wellcome";
    Layout = "_wellcomeLayout";
}



<div class="grid-container">
 

    <div class="home-button"><a asp-controller="home" asp-action="RetailFrontpage"><input type="button" class="btn btn-primary" value="RETAIL" /></a></div>
    <div class="home-button"><a asp-controller="home" asp-action="Wholesalefrontpage"><input type="button" class="btn btn-primary" value="WHOLESALES" /></a></div>
    <div class="home-button"><a asp-controller="home" asp-action="Creditcontrol"><input type="button" class="btn btn-primary" value="CREDIT CONTROLLER" /></a></div>
   

</div>