<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/can.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <style>

        .grid-container > div {
            background-color: rgba(255, 255, 255, 0.8);
            border: none;
            text-align: center;
            font-size: 70px;
        }

        .grid-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }

            .grid-container > .home-button {
                padding: 10px;
                width: 30rem;
                justify-content: center;
                align-items: center
            }

                .grid-container > .home-button > a > input {
                    font-size: 2rem;
                    justify-content: center;
                    width: 25rem;
                }
    </style>
</head>
<body>
  

    <partial name="_CookieConsentPartial" />
    <div>
        @RenderBody()
    </div>
</body>
</html>
