@model StockMVC.Models.WholesaleNewStockLists

@{
    ViewData["Title"] = "Cofirm Delete";
}

<h2>Confirm New Entry Stock to Delete</h2>

<h3>Are you sure you want to delete New Stock entered at this date?</h3>
<div>
    <h4>Stock Dates</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.NewOrderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewOrderDate)
        </dd>

    </dl>

    <form asp-action="WholesaleDeleted">
        <input type="hidden" asp-for="InvoiceNumber" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="WholesaleListStock">Back to List</a>
    </form>
</div>
