@model StockMVC.ViewModel.CreateOtherDebitVM

@{
    ViewData["Title"] = "CreateOtherDebit";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Create Other Debit Transaction</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOtherDebit">
         
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                
                <input asp-for="RoleName" class="form-control" type="hidden" value="@ViewBag.RoleName"/>
                
            </div>
            <div class="form-group">
                <label asp-for="DebitDate" class="control-label"></label>
                <input asp-for="DebitDate" class="form-control" />
                <span asp-validation-for="DebitDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductName"></select>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DebitModeId" class="control-label"></label>
                <select asp-for="DebitModeId" class="form-control" asp-items="ViewBag.Debitmode"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="OtherDebitList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
